.container {
  display: grid;
  grid-template-rows: auto auto;
}

.h1 {
  display: grid;
  grid-row: 1;
  justify-content: center;
}

.links {
  grid-row: 2;
  display: flex;
  justify-content: space-around;
}